<!DOCTYPE html>
<html lang="jp">
  <head>
    <meta charset="utf-8">
    <title>You don't have access permission (403) </title>
  </head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <style>
  .error {
    padding-top: 12%;
  }
  .error h1, h2{
  text-align: center;
  color: #F00;
  }
  .error h1{
    font-size: 60px;
    margin-bottom: 0;
  }
  .error h2{
    font-size: 40px;
    margin-top: 10px;
  }
  p{
    text-align: center;
    font-size: 20px;
  }
  </style>
  <body>
    <div class="error">
      <h1>403</h1>
      <h2>ERROR</h2>
      <p>アクセス権がありません</p>
    </div>
  </body>
</html>
